.RegisterContainer{
    display: flex; /* Устанавливаем Flexbox */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    height: 100vh; /* Высота контейнера на всю высоту экрана */
    width: 100%; /* Ширина контейнера на всю ширину экрана */
    background-color: #f9f9f9; /* Фон страницы (по желанию) */
}

.RegisterForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    max-height: 800px;
    background-color: var(--blockBgColor);
    border: var(--borderColor) 4px solid;
    border-radius:10px;
    padding: 50px;
    gap:20px;
    & > label{
        display: flex;
        flex-direction: column;
        gap:10px;
        font-family: var(--ActayWide);
        font-size:25px;
        & > input{
            background-color: #F4F5FB;
            border: #D0D3F1 4px solid;
            width: 600px;
            height: 82px;
            border-radius: 10px;
            padding:0 20px;
        }
    }
}