header{
    position: fixed;
    width: 100%;
    background-color: var(--white);
    z-index:9999
}

.Logo{
    font-family: var(--Rostov);
    font-size: 30px;
    color:var(--black)
}

.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 15px 0;
}

.navBar{
    list-style-type: none;
    display:flex;
    gap:10px;
    font-family: var(--ActayWide);
    font-size: 20px;
    text-align: center;
    align-items:center;
}